*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

h3{
    font-size: 24px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
}

h1{
    font-weight: bolder;
    font-size: 48px
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.dark_blue{
    color: #F9FAF8;
    background-color: #1F2937;
}

.text_zone{
    max-width: 650px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text_zone > *{
    margin:15px
}

img{
    height: 300px;
    border-radius: 10px;
}

a:hover{
   /* font-weight: bold;*/
    color: #b8b8b8;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.grey{
    color: #1F2937;
    background-color: #E5E7EB;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
    height: 100%;
}

html{
    height: 100%;
}

.white{
    background-color: #F9FAF8;
}

.white, .grey{
    display: flex;
    flex-direction: column;
}

.tiles{
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.carre{
    height: 100px;
    width: 100px;
    background-color: rgb(7, 53, 7);
    margin-bottom: 10px;
    border-radius: 10px;
}

.tile{
    text-align: center;
    margin: 0 40px 10px 40px;
}